/* You can add global styles to this file, and also import other style files */


// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';
@include mat-core();

$material-rnd-primary : mat-palette($mat-indigo);
$material-rnd-accent : mat-palette($mat-pink, A200, A100, A400);
$material-rnd-warn : mat-palette($mat-red);

$material-rnd-theme: 
    mat-light-theme($material-rnd-primary, $material-rnd-accent, $material-rnd-warn);


@include angular-material-theme($material-rnd-theme);



.dark-theme {
          $primary-dark : mat-palette($mat-pink, 700);
          $accent-dark : mat-palette($mat-green);
          $warn-dark : mat-palette($mat-red);

          $material-rnd-theme-dark: 
              mat-light-theme($primary-dark, $accent-dark, $warn-dark);

          @include angular-material-theme($material-rnd-theme-dark);
}


body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
    