/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';
@include mat-core();

@import './themes/light-theme.scss';
@import './themes/dark-theme.scss';

@import  './app/contactmanager/components/sidenav/sidenav.component.theme.scss';


@mixin custom-component-themes { 
  @include sidenav-component-theme($theme);
}


  @include angular-material-theme($material-rnd-theme);
  @include sidenav-component-theme($material-rnd-theme);


.dark-theme {
  @include angular-material-theme($material-rnd-theme-dark);
  @include sidenav-component-theme($material-rnd-theme-dark);
}

// // you only have to add additional componenets here (instead of in every theme class)
// @mixin custom-components-theme($theme) {
//   @include big-input-theme($theme);
//   @include flip-toggle-button-theme($theme);
// }

// .custom-theme {
  
//   // use our theme with angular-material-theme mixin
//   @include angular-material-theme($my-theme);
// }              

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
    
.top-nav {
  padding-bottom: 10px;
}